    * {
        margin: 0;
        padding: 0;
    }
    
    html,
    body {
        height: 100%;
        background-image: url(../img/dd.jpg);
        background-size: 100%;
    }
    
    .header {
        height: 85px;
        line-height: 85px;
        padding-top: 46px;
        text-align: center;
        color: #fff;
        font-size: 30px;
        width: 100%;
        position: absolute;
    }
    
    .content {
        height: 100%;
        box-sizing: border-box;
        padding-top: 131px;
    }
    
    .topContent {
        width: 100%;
        background-size: 100%;
    }
    
    .user_icon {
        width: 141px;
        height: 141px;
        background: #fff;
        border-radius: 50%;
        margin: 0 auto;
        border: 1px solid #fff;
    }
    
    .user_icon>.img {
        display: block;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        background: url(../img/add_logo.png);
        background-size: 100%;
        position: relative;
        top: 50%;
        margin-top: -48px;
    }
    
    .user_name {
        height: 60px;
        line-height: 60px;
        padding-top: 20px;
        text-align: center;
        color: #3c4f5e;
        font-size: 28px;
    }
    
    .user_tag {
        width: 110px;
        height: 30px;
        background: #3d82ea;
        color: #ffffff;
        font-size: 22px;
        text-align: center;
        line-height: 30px;
        border-radius: 12px;
        margin: 0 auto;
    }
    
    .user_address {
        text-align: center;
        color: #3c4f5e;
        padding-top: 15px;
        font-size: 24px;
    }
    
    .msg_list {
        padding-top: 110px;
        padding-left: 20px;
    }
    
    .msg_item {
        border-bottom: 1px solid #edeff0;
        overflow: hidden;
    }
    
    .msg_item>dl>dt {
        color: #666666;
        font-size: 28px;
        padding-top: 20px;
    }
    
    .msg_item>dl>dd {
        color: #3c4f5e;
        font-size: 24px;
        padding: 22px 0 20px 0;
    }
    
    .phone>dl,
    .telephone>dl {
        float: left;
    }
    
    .phone>a,
    .telephone>a {
        float: right;
        height: 60px;
        padding-top: 65px;
        margin-right: 20px;
    }
    
    .sms,
    .call {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 1px solid #0373d5;
        float: right;
        margin-left: 40px;
        font-size: 20px;
        color: #0373d5;
        text-align: center;
    }