* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    overflow: hidden;
}

body {
    background: url(../img/login_bg.png);
    background-size: 100%;
}

.head_img {
    background: url(../img/add_logo.png);
    background-size: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 135px;
}

.input_form {
    margin-top: 78px;
    padding: 0 80px;
}

.input {
    height: 65px;
    line-height: 65px;
    box-sizing: border-box;
    padding-left: 54px;
    border-bottom: 2px solid #a4b0f1;
}

.phone_ {
    background: url(../img/phone.png) 5px center no-repeat;
    background-size: 19px 27px;
}

.password_ {
    margin-top: 45px;
    background: url(../img/password.png) 5px center no-repeat;
    background-size: 24px 27px;
}

.code_ {
    margin-top: 45px;
    background: url(../img/code_.png) 5px center no-repeat;
    background-size: 28px 30px;
}

.code_ span {
    color: #4800ff;
    font-size: 30px;
    float: right;
}

.phone_>input,
.password_>input,
.code_>input {
    height: 100%;
    background: none;
    border: none;
    outline: none;
    width: 70%;
    font-size: 30px;
    color: #ffffff;
}

input::-webkit-input-placeholder {
    color: #ffffff;
}

.other_option {
    padding-top: 21px;
    overflow: hidden;
}

.remember {
    float: left;
}

.tag_checkbox {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 2px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
}


/* 单选按钮 */

.tag_checkbox::after {
    content: '\00a0';
    display: inline-block;
    border: 4px solid #fff;
    border-top-width: 0;
    border-right-width: 0;
    width: 18px;
    height: 10px;
    transform: rotate(-50deg);
    position: absolute;
    top: 0px;
    left: 2px;
}

.remember_txt {
    display: inline-block;
    padding-left: 12px;
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
}

.forget {
    float: right;
}

.forget>span {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}

.register,
.login {
    height: 72px;
    line-height: 72px;
    border-radius: 37px;
    border: 1px solid #fff;
    font-size: 32px;
    text-align: center;
    margin-top: 76px;
    color: #fff;
}

.line_ {
    margin: 0 90px;
    margin-top: 105px;
    text-align: center;
    color: #fff;
    background: url(../img/line_.png) center center no-repeat;
    background-size: 100%;
}

.other_ {
    padding-top: 50px;
}

.other_ a {
    display: block;
    float: left;
    width: 33.33%;
}

.other_ a>span.txt_ {
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    display: block;
    width: 100%;
    padding-top: 20px;
}

.other_ a>span.img_ {
    height: 75px;
    width: 75px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    background-size: 75%;
    margin: 0 auto;
}

.wechart>.img_ {
    background: #4ac529 url(../img/wechart.png) center center no-repeat;
}

.qq>.img_ {
    background: #1282de url(../img/qq.png) center center no-repeat;
}

.weibo>.img_ {
    background: #ffb94f url(../img/wb.png) center center no-repeat;
}

.ownNumber {
    float: right;
    padding-top: 30px;
    padding-right: 23px;
    font-size: 26px;
    color: #fff;
}

.register_ {
    overflow: hidden;
    float: right;
    padding-top: 30px;
    padding-right: 23px;
    font-size: 26px;
    color: #fff;
}

.ownNumber .dl {
    color: #1800ff;
}