* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-size: 100%;
}

.header {
    height: 85px;
    line-height: 85px;
    padding-top: 46px;
    text-align: center;
    color: #fff;
    background: #1f3daf;
    font-size: 30px;
    width: 100%;
    position: absolute;
}

.content {
    height: 100%;
    box-sizing: border-box;
    padding-top: 131px;
    background: #eff2f5;
}

.backlog>h2 {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #0071d4;
    background: #fff;
    padding-left: 20px;
}

.backlog>ul {
    margin-top: 10px;
    padding: 0 20px;
    background: #fff;
}

.already>ul {
    margin-top: 10px;
    padding: 0 20px;
    background: #fafafa;
}

.backlog>ul>li,
.already>ul>li {
    overflow: hidden;
    height: 149px;
    border-bottom: 2px solid #edeff0;
    position: relative;
}

.img {
    width: 150px;
    height: 110px;
    margin-top: 20px;
    background: pink;
    position: absolute;
}

.txt {
    margin-top: 20px;
    padding-left: 170px;
    height: 110px;
    box-sizing: border-box;
    position: relative;
}

.txt>span {
    display: block;
}

.txt>span.title {
    padding-top: 8px;
    font-size: 30px;
    color: #3c4f5e;
    padding-left: 20px;
}

.txt>span.detilesMsg {
    font-size: 24px;
    color: #666666;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
}

.already>h2 {
    font-size: 24px;
    color: #3c4f5e;
    height: 72px;
    line-height: 72px;
    padding-left: 20px;
}

.flieUpload {
    width: 114px;
    height: 36px;
    background: #c6c5c5;
    font-size: 20px;
    color: #3c4f5e;
    text-align: center;
    line-height: 36px;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -18px;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 12;
}

.btn>div {
    height: 80px;
    line-height: 80px;
    color: #666666;
    font-size: 30px;
    background: #fff;
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;
}

.btn .upload_file {
    background: #1677d9;
    color: #fbf7f6;
}